/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  color: #333;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a2e;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar .logo {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 15px;
}

.navbar .links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navbar .links a:hover {
  text-decoration: underline;
}

/* BOTÃO HAMBÚRGUER */
.hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 1200px;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  width: 250px;
  height: calc(100vh - 60px);
  background-color: #16213e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 5px;
}

.sidebar {
  width: 200px;
  transform: translateX(0);
}

.sidebar.open {
  transform: translateX(-100%);
}

/* MAIN CONTENT */
.main-content {
  flex: 1; /* Faz com que o conteúdo ocupe o espaço disponível */
  margin-left: 260px;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-top: 80px;

}

.main-content.hide-when-sidebar {
  margin-left: 0;
}

/* FOOTER FIXO */
.footer {
  width: 100%;
  background-color: #1a1a2e;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  .navbar .links {
    display: none;
  }

  .sidebar {
    width: 200px;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
    margin-top: 0px;
  }

  .hamburger {
    right: 10px;
  }

  .main-content.hide-when-sidebar {
    margin-left: 200px;
    pointer-events: none;
  }
}

@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
  }

  .main-content {
    margin-left: 250px;
  }
}
